<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginTienda</servlet-name>
        <servlet-class>p2.LoginTienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarTienda</servlet-name>
        <servlet-class>p2.RegistrarTienda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CerrarSesion</servlet-name>
        <servlet-class>p2.CerrarSesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginTienda</servlet-name>
        <url-pattern>/LoginTienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarTienda</servlet-name>
        <url-pattern>/RegistrarTienda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CerrarSesion</servlet-name>
        <url-pattern>/CerrarSesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
